<h2>所有訂單</h2>
<hr>

<table class="table table-bordered">
	<thead>
		<th>訂單編號</th>
		<th>訂購者</th>
		<th>成立時間</th>
		<th>價格</th>
		<th>狀態</th>
	</thead>	
	<tbody>
	<% @order.each do |o| %>
		<tr>
			<td>
				<%= link_to o.token, order_path(o.token) %>
			</td>
			<td>
				<%= o.user.email %>
			</td>
			<td>
				<%= o.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
			</td>
			<td>
				<%= o.total %>
			</td>
			<td>
				<%= render_order_state(o.aasm_state) %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

