<div class="row">
   <div class="col-md-12">
 
    <h2> 購物車 </h2>
 
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>商品名稱</th>
          <th>數量</th>
          <th>單價</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>

       <% current_cart.cart_items.each do |item| %>
        <tr>
          <td><%= render_product_image(item.product.default_image) %></td>
          <td>
            <%= link_to(item.product.title, product_path(item.product)) %><%= link_to cart_item_path(current_cart, item), :method => :delete do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
          <td>
            <%= form_for item, :url => cart_item_path(current_cart, item) do |f| %>
            <%= f.select :quantity, [1,2,3,4,5] %>
            <%= f.submit "調整" %>
            <% end %>
          </td>
          <td> <%= item.product.price %> </td>
          <td> <%= single_item_total_price(item) %> </td>
        </tr>
        <% end %>
        </tbody>
      </table>
 
      <div class="total group">
        <span class="pull-right">
           <span> 總計 <%= render_cart_total_price(current_cart) %> NTD  
        </span>
      </div>
  
      <hr>
      <div class="checkout">
          <%= link_to("確認結賬", checkout_carts_path , :method => :post , :class => "btn btn-lg btn-warning pull-right") %>
          <%= link_to "清除購物車", clean_carts_path, :method => :delete, :class => "btn  btn-lg btn-danger pull-right" %>
          <%= link_to "繼續瀏覽", products_path, :class => "btn btn-primary btn-lg pull-right" %>
      </div>
 
 
    </div>
 
 
  </div>